body {
    font-family:'Roboto', sans-serif;
    left: 0;
    top: 0;
    margin:0px;
}
.appBar{
    display: flex;
    background-color: #1f2937;
    height: 50px;
    text-align: center;
    padding:20px;
    /* gap:100px; */
}
.appBar .logo{
    flex:1;
    
}
.appBar .links{
    flex:1;

}
.logo{
    text-align: center;
    font-size: 24px;
    color: #f9faf8;

}
.links{
    text-align: center;
    font-size: 18px;
    color: #e5e7eb;
}
.link{
    margin: 30px;
}
.para{
    font-size: 18px;
    color: #e5e7eb;
}
.hero{
    display: flex;
    background-color: #1f2937;
    gap:30px;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.left{
    width: 300px;

    
}

.heroHead{
    font-weight:800;
    font-size: 48px;
    color: #f9faf8;
}
.button1{
    background-color: #3882f6;
    border: #3882f6;
    color: #f9faf8;
    border-radius: 10%;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    margin-left: 0px;
}
